[Desktop Entry]
Name=PvFlasher
Comment=Cross-platform USB Image Flasher
Exec=/usr/bin/pvflasher
Icon=pvflasher
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=usb;flash;image;disk;bmap;
StartupNotify=true
